*{
	/*text-align: left;*/
}
img{
	float: left;
	}
body {
	 background-image: url(file.jpg);
	 background-size: cover;
	 
	 font-size: 110%;
	 line-height: 30px;
}

h1 {
    text-align: center;
	border:5px solid rgba(244,0,0,0.7)
}


a>h2 {
	 text-align: right;
	 list-style: none;
	 display: inline-block;
	 cursor: pointer;
     }
p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 140%;
	line-height: 40px;
}

